* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    /*font-variant: small-caps;*/
    margin: 0;
    padding: 0;
    background-color: #696969;
    color: #ffffff;
}
header {
    background-color: #333333;
    padding: 10px;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2em;
}
nav {
    background-color: #444444;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
main {
    padding: 20px;
}
footer {
    background-color: #333333;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}